{# -- Partial Variables -- #}
{# ----------------------------------------------------------------- #}

{% set this = {
    hideCTA: cta.visibility ?? false,
    logo: params.footerLogo ? get_image(params.footerLogo) : null,
    headline: cta.headline ?? null,
    text: cta.text ?? null,
    form: cta.form ?? null,
    button: cta.button ?? null,
    about: params.about,
    contact: params.contact,
    social: params.social,
    navigation: params.menu,
    siteName: params.siteName,
    siteUrl: params.siteUrl
} %}

{# -- Partial Template -- #}
{# ----------------------------------------------------------------- #}

<footer class="o-site__footer">

    {# -- Call to Action -- #}
    {% if this.hideCTA != true %}
        {% include '_components/cta--footer.twig' with {
            params: {
                headline: this.headline,
                text: this.text,
                form: this.form,
                button: this.button
            }
        } only %}
    {% endif %}

    {# -- Footer -- #}
    <div id="colophon" class="c-footer">
        <h2 class="u-screen-reader-text">Colophon</h2>
        <div class="c-footer__primary">
            <div class="c-footer__branding">
                {% if this.logo %}
                    <a href="{{ this.siteUrl }}" class="c-footer__logo c-media">
                        <img src="{{ this.logo }}" alt="{{ this.siteName }}" class="c-media__image" />
                    </a>
                {% endif %}
                <ul class="c-footer__social">
                    {% if this.social %}
                        {% for profile in this.social %}
                            {% set account = profile.profile %}
                            <li class="c-footer__social-profile">
                                <a href="{{ profile.url }}" target="_blank" rel="noopener noreferrer nofollow">
                                    {{ source('_elements/svg/social-' ~ account.title|lower ~ '.svg') }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="c-footer__about">
                <h3>About</h3>
                <div class="u-wysiwyg">
                    {{ this.about }}
                </div>
            </div>
            <div class="c-footer__nav u-wysiwyg">
                <h3>Navigation</h3>
                <ul class="c-menu">
                    {% for item in this.navigation.get_items %}
                        <li class="c-menuItem">
                            <a href="{{ item.url }}" class="u-link">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="c-footer__utility">
            <div class="c-footer__legal">
                <p>&copy; {{ this.siteName }} {{ 'now'|date('Y') }} | Website by <a href="https://onemohrti.me?utm_campaign=Footer+Links&utm_source={{ this.siteName|replace({' ':'+'}) }}" class="u-link" target="_blank" rel="noopener noreferrer nofollow">Derek Mohr</a></p>
            </div>
        </div>
    </div>
</footer>
