{# -- Component Variables -- #}

{% set this = {
    menu: params.menu
} %}

{# -- Component Template -- #}

<div class="c-utility">

    {% if this.menu %}
    <ul class="c-utility__menu c-menu">
        {% for item in this.menu.get_items %}
            <li class="c-utility__menuItem c-menuItem">

                <a href="{{ item.link }}" class="u-link">
                    {{ item.title }}
                </a>

            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="c-utility__search">
        {# Woocommerce Search
            {{ fn('get_product_search_form') }}
        else #}
        {% include '_components/search-form.twig' %}
    </div>

    {# Woocommerce Account
    <div class="c-utility__account">
        {% if fn('is_user_logged_in') %}
            <a href="{{ site.url }}/my-account">My Account</a>
        {% else %}
            <a href="{{ fn('wp_login_url') }}">Login</a> / <a href="{{ fn('wp_registration_url') }}">Register</a>
        {% endif %}
    </div> #}

    {# Woocommerce Cart
    <div class="c-utility__cart">
        <a href="{{ fn('wc_get_checkout_url') }}" class="u-link">View Cart</a>
    </div> #}

</div>
